{% extends "base.html" %}


{% block content %}
	<div class="row justify-content-center">
		<div class="col-md-3">
		</div>
		{% if session.get('logged_in') == True %}
		<div class="col-md-6">
			<div id="Welcome" class="jumbotron jumbotron-fluid p-3 my-5">
				<h1 class="display-2">Welcome</h1>
			</div>
		</div>
		{%else%}
		<div class="col-md-3">
		</div>
	</div>

	<div class="row justify-content-center">

		<div class = "col-md-3">
		</div>

		<div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-md-8 col-lg-6">
          <div class="d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                	<br/>
                	<br/>
                	<br/>
                  <h2 class="mb-5">Find restaurants near you<br />
                    <span class="h3"><small class="text-muted">Type in your zipcode to find restaurants near your location</small></span>
                  </h2>
                  <form>
                    <div class="form-row">
                      <div class="col-12 col-md-9 mb-2 mb-md-0">
						<input class="form-control form-control-lg" type="text" placeholder="Search by Zipcode" aria-label="Search">                      
					</div>


                      <div class="col-12 col-md-3">
                      <!--grab the search results here and send to serlvet-->
                       <button type="submit" class="btn btn-lg btn-dark text-uppercase font-weight-bold mb-2">Search</button>
                     		
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

		<div class="d-none d-md-flex col-md-4 col-lg-6">

          <img src="/static/css/graphic.png" class="img-fluid float-right" alt="Home Graphic">
        </div>

        <div class = container-fluid> <br/> <br/>
        	<hr/>
        </div>

		<!-- <div class = "row justify-content-center d-flex">
			<div class = "col-md-6">
			<div id="About" class="jumbotron jumbotron-fluid p-3 mb-5 bg-white text-centered d-flex">

				<h4>About Sur+</h4>

			</div>
			</div>
		</div> -->

			<div class = "row justify-content-center d-flex">
				<div class = "col-md-6">
					<div id="About" class="jumbotron jumbotron-fluid p-3 mb-5 bg-white text-centered d-flex">
						<div style="margin-bottom: 0; text-align: center">

						<!-- <h3>About Sur+</h3> -->
						<br />
						<h1>About Sur+</h1>
						<br />
						<br />
						<p class="lead">
							Sur+ is an e-commerce platform built for local food services to market excess inventory, meal packages, or individual products. Due to COVID-19, many small businesses are losing revenue, and the food service industry is being hit the hardest. With Sur+, restaurants, private chefs, and certified food services can sell anything from their speciality ingriediants to at-home meal kits. For customers, your favorite restaurant cravings that COVID-19 disrupted can now be satisfied. </p>
					</div>
				</div>
				</div>
			</div>

		<div class = "col-md-3">
		</div>

	</div>

	<div class="row justify-content-center">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-lg btn-secondary btn-block mb-5">Restaurant? Sign up Here</button>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	{% endif %}
{% endblock %}