{% extends "base.html" %}


{% block content %}
	<div class="row justify-content-center">
		<div class="col-md-3">
		</div>
		{% if session.get('logged_in') == True %}
		<div class="col-md-6">
			<div id="Welcome" class="jumbotron jumbotron-fluid p-3 my-5">
				<h1 class="display-2">Welcome, {{user.username}} </h1>
			</div>
		</div>
		{%else%}
		<div class="col-md-3">
		</div>
	</div>

	<div class="row justify-content-center">

		<div class = "col-md-3">
		</div>

		<div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-md-8 col-lg-6">
          <div class="d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h2 class="mb-5">Find restaurants near you<br />
                    <span class="h3"><small class="text-muted">Type in your zipcode to find restaurants near your location</small></span>
                  </h2>
                  <form>
                    <div class="form-row">
                      <div class="col-12 col-md-9 mb-2 mb-md-0">
						<input class="form-control form-control-lg" type="text" placeholder="Search by Zipcode" aria-label="Search">                      
					</div>
                      <div class="col-12 col-md-3">
                      <!--grab the search results here and send to serlvet-->
                       <button type="submit" class="btn btn-lg btn-dark text-uppercase font-weight-bold mb-2">Search</button>
                     		
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

		<div class="d-none d-md-flex col-md-4 col-lg-6">
          <img src="/static/css/graphic.png" class="img-fluid float-right" alt="Home Graphic">
        </div>
		<div class = "col-md-6 justify-content-center">
			<div id="About" class="jumbotron jumbotron-fluid p-3 mb-5">
				<h1 class="display-4">About Sur+</h1>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>

		<div class = "col-md-3">
		</div>

	</div>

	<div class="row justify-content-center">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-lg btn-secondary btn-block mb-5">Restaurant? Sign up Here</button>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	{% endif %}
{% endblock %}