{% extends "base.html" %}


{% block content %}
	<div class="row justify-content-center">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div id="Welcome" class="jumbotron jumbotron-fluid p-3 my-5">
				<h1 class="display-2">Welcome, {{user.username}} </h1>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>

	<div class="row justify-content-center">

		<div class = "col-md-3">
		</div>

		<div class = "col-md-6 justify-content-center">
			<div id="About" class="jumbotron jumbotron-fluid p-3 mb-5">
				<h1 class="display-4">About Sur+</h1>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>

		<div class = "col-md-3">
		</div>

	</div>

	<div class="row justify-content-center">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-lg btn-secondary btn-block mb-5">Restaurant? Sign up Here</button>
		</div>
		<div class="col-md-3">
		</div>
	</div>
{% endblock %}