{% extends "base.html" %}


{% block content %}
	<div class="row justify-content-center">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			{% for result in search_results %}
			<div class="restaurant_result jumbotron jumbotron-fluid p-3 my-5">
				<h1 class="display-2">
					{{result.seller_name}}
				</h1>
				<a href= "{{url_for('seller_page', iD = result.seller_id)}}"><button class="btn my-2 my-sm-0 btn-dark float-right px-5">See More</button></a>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-3">
		</div>
	</div>

{% endblock %}