{% extends "base.html" %}

{% block content %}

	<div class="row justify-content-center">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
            <h1 class="display-4">{{seller.seller_name}}</h1>
            {% if not items %}
            	<h2> This vendor currently has no items for sale </h2>
            {% else %}
            <table class="table table-striped" style="background-color: white;">
				{% for item in items %}
				<tr>
					<td>
						<h2>{{item.item_name}}</h2>
						<h3><small>{{(item.item_description)}}</small></h3><br/>
						<h2 ><small>${{'%0.2f'|format(item.item_price|float)}}<small></h2>
						
					</td>
					<td>
						
						<div class = "float-right container-fluid">
							<img src = "{{url_for('static', filename='download.jpg')}}">
							<a href= "{{url_for('addToCart', iD = item.id)}}" style="top: 10%" class="float-right"><button class="btn btn-success" style="font-size: 30px"><i class="fa fa-cart-plus" style = "font-size: 30px"></i></button></a>
						</div>
					</td>

				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</div>
		<div class="col-md-3">
		</div>

{% endblock %}