{% extends "base.html" %}

{% block content %}

	<h1>Sign Up</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.hidden_tag() }}
			<p>
				{{ form.username.label }}<br>
				{{ form.username(size=32) }}
			</p>
			<p>
				{{ form.restaurant_email.label }}<br>
				{{ form.restaurant_email(size=32) }}
			</p>
			<p>
				{{ form.restaurant_password.label }}<br>
				{{ form.restaurant_password(size=32) }}
			</p>
			<p>
				{{ form.confirm.label }}<br>
				{{ form.confirm(size=32) }}
			</p>
			<p>
				{{ form.restaurant_name.label }}<br>
				{{ form.restaurant_name(size=32) }}
			</p>
			<p>
				{{ form.restaurant_phone.label }}<br>
				{{ form.restaurant_phone(size=32) }}
			</p>
			<p>
				{{ form.restaurant_street.label }}<br>
				{{ form.restaurant_street(size=32) }}
			</p>
			<p>
				{{ form.restaurant_city.label }}<br>
				{{ form.restaurant_city(size=32) }}
			</p>
			<p>
				{{ form.restaurant_state.label }}<br>
				{{ form.restaurant_state(size=32) }}
			</p>
			<p>
				{{ form.restaurant_zipcode.label }}<br>
				{{ form.restaurant_zipcode(size=32) }}
			</p>
			<p> {{ form.submit() }}</p>
		</form>
{% endblock %}

